{% extends "ImbuzzitAdminBundle::layout.html.twig" %}

{% block body %}
<h1>User</h1>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Isactive</th>
            <td>{{ entity.isActive }}</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>{{ entity.birthday|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Sexe</th>
            <td>{{ 'form.sexe.'~ entity.sexe | trans({}, 'user') }}</td>
        </tr>
        <tr>
            <th>Account_birthday</th>
            <td>{{ entity.accountbirthday|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Biography</th>
            <td>{{ entity.biography }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ entity.city }}</td>
        </tr>
        <tr>
            <th>Influence</th>
            <td>
              {% for inf in entity.influence %}
                {{ inf }}
              {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Equipment</th>
            <td>{{ entity.equipment }}</td>
        </tr>
        <tr>
            <th>Last_connect</th>
            <td>{{ entity.lastconnect|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
      <a href="{{ path('admin_user') }}" class="btn">
            Back to the list
        </a>
    </li>
    <li>
      <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}" class="btn">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_user_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}